*.memmap filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
tests/data/save_dataset_to_safetensors/lerobot/nyu_franka_play_dataset/ filter=lfs diff=lfs merge=lfs -text
tests/data/lerobot/nyu_franka_play_dataset/ filter=lfs diff=lfs merge=lfs -text
tests/data/save_dataset_to_safetensors/lerobot/cmu_stretch/ filter=lfs diff=lfs merge=lfs -text
