# lerobot-record --config_path .\config\record\zarax_record_config_camdroite.yaml

display_data: true

robot:
  type: so101_follower
  port: COM7
  id: zarax
  cameras:
    camera_0:
      type: opencv
      index_or_path: 1
      fps: 30
      width: 640
      height: 480

teleop:
  type: so101_leader
  port: COM8
  id: zarax

dataset:
  repo_id: Zarax/zarax-demo
  single_task: "Simple movement test"
  num_episodes: 3
  fps: 30
  push_to_hub: true
  video: true
