steps: 300000

dataset:
  repo_id: dageorge1111/v122_coffee_pod_sade_train
  root: null
  episodes: null
  revision: null
  use_imagenet_stats: true
  video_backend: pyav
  streaming: false
  image_transforms:
    enable: false
    max_num_transforms: 3
    random_order: false
    tfs: {}

env: null

policy:
  type: diffusion
  n_obs_steps: 2
  horizon: 16
  n_action_steps: 8
  
  input_shapes: null
  output_shapes: null
  
  normalization_mapping:
    VISUAL: MEAN_STD
    STATE: MIN_MAX
    ACTION: MIN_MAX

  drop_n_last_frames: 7
  vision_backbone: resnet18
  crop_shape: [84, 84]
  crop_is_random: true
  pretrained_backbone_weights: null
  use_group_norm: true
  spatial_softmax_num_keypoints: 32
  use_separate_rgb_encoder_per_camera: false
  
  down_dims: [512, 1024, 2048]
  kernel_size: 5
  n_groups: 8
  diffusion_step_embed_dim: 128
  use_film_scale_modulation: true

  noise_scheduler_type: DDPM
  num_train_timesteps: 100
  beta_schedule: squaredcos_cap_v2
  beta_start: 0.0001
  beta_end: 0.02
  prediction_type: epsilon
  clip_sample: true
  clip_sample_range: 1.0
  
  num_inference_steps: null
  
  do_mask_loss_for_padding: false
  
  optimizer_lr: 0.0001
  optimizer_betas: [0.95, 0.999]
  optimizer_eps: 1.0e-08
  optimizer_weight_decay: 1.0e-06
  scheduler_name: cosine
  scheduler_warmup_steps: 500

  device: cuda
  use_amp: false
  push_to_hub: false
  repo_id: null
  private: false
  tags: null
  license: null
  pretrained_path: null

optimizer:
  type: adam
  lr: 0.0001
  betas: [0.95, 0.999]
  weight_decay: 1.0e-06
  eps: 1.0e-08
  grad_clip_norm: 10.0

scheduler:
  type: diffuser
  name: cosine
  num_warmup_steps: 500

eval:
  n_episodes: 50
  batch_size: 50
  use_async_envs: false

wandb:
  enable: true
  project: coffee_pod_diffusion
  disable_artifact: false
  entity: null
  notes: null
  run_id: null
  mode: online

output_dir: null
job_name: null
resume: false
seed: 1000
num_workers: 4
batch_size: 8
eval_freq: 20000
log_freq: 200
tolerance_s: 0.0001
save_checkpoint: true
save_freq: 20000
use_policy_training_preset: true
use_rabc: false
rabc_progress_path: null
rabc_kappa: 0.01
rabc_epsilon: 1.0e-06
rabc_head_mode: sparse
rename_map: {}
