# Copyright 2025 The HuggingFace Inc. team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This workflow labels pull requests based on the files that were changed.
name: Pull Request Labeler

on:
  # Allows labeling pull requests when they are opened or updated
  # zizmor: ignore[dangerous-triggers] Needed to label PRs from forks
  pull_request_target:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read
  pull-requests: write

jobs:
  triage:
    name: Label PR
    runs-on: ubuntu-latest
    if: github.repository == 'huggingface/lerobot' && !github.event.pull_request.draft
    steps:
      - uses: actions/labeler@v6
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          sync-labels: true # Removes labels if files are removed from the PR
